@import './mixins';
@import './variables';

.chip-primary-sm {
  height: 22px;
  min-width: 36px;
  border-radius: 16px;
  padding: 2px 8px;
  background-color: $col-text;
  color: $col-primary-dark;
  font-size: 1.6rem;
  font-weight: 500;
  @include flex-center;
}

.search {
  border: 2px solid $col-devider;
  height: 100%;
  @include flex-center;
  border-radius: 1rem;
  overflow: hidden;
  &__input {
    height: inherit;
    background-color: $col-primary-ultra-dark;
    color: $col-text;
    border: none;
    outline: none;
    padding-inline-start: 1rem;
  }
  &__button {
    width: 100%;
    height: inherit;
    border: none;
    background-color: $col-primary-ultra-dark;
  }
  &__icon {
    height: 2.5rem;
    width: 4rem;
    fill: $col-devider;
  }
}

@include respond-phone {
  .search {
    width: 100%;
    margin: 0 1rem;
    &__button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.fab {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: $col-text;
  border: none;
  @include flex-center;
  .icon {
    fill: $col-primary-ultra-dark;
    transform: scale(.5);
  }
}