// $col-primary: #607D8B;
// $col-primary-dark: #455A64;
// $col-primary-light: #CFD8DC;
// $col-accent: #FF5722;
// $col-text: #FFFFFF;
// $col-text-primary: #212121;
// $col-text-secondary: #757575;
// $col-devider: #BDBDBD;


// $col-primary: #368f8b;
// $col-primary-dark: #246a73;
// $col-primary-ultra-dark: #160f29;
// $col-accent: #FF5722;
// $col-text: #f3dfc1;
// $col-devider: #ddbea8;


$col-primary: #368f8b;
$col-primary-dark: #343a40;
$col-primary-ultra-dark: #141414;
$col-accent: #FF5722;
$col-text: #f3dfc1;
$col-devider: #ddbea8;
